@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

html {
  scroll-behavior: smooth;
}



h1 {
  font-size: 10vw;
  font-family: 'Abril Fatface', sans-serif;
  font-weight: lighter;
  margin: 0%;
}

a {
  text-decoration: none;
  color: orange;
}

ul {
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  margin-top: 0%;
  padding-left: 0em;
}

#eti ul {
  font-size: 1.2em;
}

li {
  margin-left: 40px;
}

#voterguide .card  {
  justify-content: initial;
}

#voterguide .card .swing {
  margin: auto;
}

.swing {
  text-align: center !important;
}

#map {
  width: 50%;
  display: block;
  margin-left: auto !important;
  margin-right: auto !important;
}

#US h1 {
  flex-wrap: wrap;
}


#data h2 {
  font-weight: lighter;
  display: inline;
  color: #ffffff;
  font-family: 'Abril Fatface', sans-serif;
  width: 100%;
  text-align: center;
  font-size: 4vw !important;
  margin: 0%;
  text-transform: uppercase;
  line-height: 90%;
  margin-bottom: 10px;
}

/*
div {
  opacity: 0;
  transform: translate(0, 20px);
  transition: all 2s;
}
div.visible {
  opacity: 1;
  transform: translate(0, 0);
}*/


.homearrow {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.homearrow span {
  display: block;
  width: 30px;
  height: 30px;
  border-bottom: 5px solid #ffffff;
  border-right: 5px solid #ffffff;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 1.5s infinite;
}

@media (pointer:coarse) {
  .homearrow span {
    width: 60px;
    height: 60px;
    border-bottom: 10px solid #ffffff;
    border-right: 10px solid #ffffff;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 1.5s infinite;
  }
}

@keyframes animate {
  0%{
    opacity: 0;
    transform: rotate(45deg) translate(-10px, -10px);
  }
  50% {
    opacity: 1;
  }
  100%{
    opacity: 0;
    transform: rotate(45deg) translate(10px,10px);
  }
}



h2 {
  font-weight: lighter;
  display: inline;
  color: #ffffff;
  font-family: 'Abril Fatface', sans-serif;
  width: 100%;
  text-align: center;
  font-size: 5vw;
  margin: 0%;
  text-transform: uppercase;
  line-height: 90%;
}

#misconceptions {
  word-break: break-word;
}

select {
  font-size: 2em;
  font-weight: normal;
  font-family: 'Montserrat', sans-serif;
  border-bottom: 2px solid #0089D8 !important;
  color: white;
  background-color: #1e1f22;
  border: 0px;
  width: 75%;
  margin-right: 2vw;
  transition: 0.3s;
}

select:hover {
  color: darkgrey;
  border-bottom: 2px solid darkgrey;
  cursor: pointer;
}

form {
  padding-bottom: 3vh;
  display: flex;
  justify-content: center;
}

#regsub {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
  background-color: #00A9D8;
  color: white;
  border: none;
  border-radius: 10px;
  transition: 0.3s;
}

#regsub:hover {
  background-color: #0c8ec9;
  cursor: pointer;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  transition: 0.3s;
}

#myBtn img {
  height: 10vh !important;
}

#myBtn:hover {
  filter: invert(10);
}

button {
  height: 10vh;
  width: 33vh;
  background-color: #00A9D8;
  font-family: 'Abril Fatface', serif;
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 5vh;
  appearance: button;
  color: white;
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: pointer;
  box-sizing: border-box;
  padding: 3px 3px;
  border-width: 2px;
  border-style: outset;
  border-image: initial;
  border-radius: 10px;
  border: 0px solid transparent;
  transition: 0.4s;
  display: block;
  margin-top: 2vh;
  margin-left: auto;
  margin-right: auto;
}

button:hover {
  background-color: #0c8ec9;
  font-size: 6vh;
}

header {
  width: 100%;
  height: 100%;
  color: white;
  background-color: #09131f;
  z-index: 3;
  text-align: center;
  text-transform: uppercase;
  top: 0;
  left: 0;
  position: absolute;
}

header h1 {
  line-height: 85%;
  color: #eeeeee;
}

header h2 {
  line-height: 100%;
  color: grey;
}

#header-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}


#firstcard {
  margin-top: 102vh;
}

#homeli {
  font-size: 1.2em;
}

#landing div {
  margin-left:auto !important;
  margin-right: auto !important;
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#landing {
  background-image: linear-gradient(to bottom right, blue, purple, red);
  height: 100vh;
}

#proceed {
  padding: 2%;
  text-wrap: nowrap;
}

#proceed a {
  color: lightblue !important;
  font-family: 'Abril Fatface', sans-serif;
  font-size: 1.3em;
  font-weight: lighter;
}

.arrow {
  border: solid lightblue;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}


.handbook {
  padding: 1vh;
}

#CT h3 {
  font-size: 4vw;
}

#MA h3 {
  font-size: 3.5vw;
}


#PA h3 {
  font-size: 4.5vw;
}

#endorse {
  font-size: 4.5vw;
}

#pa {
  font-size: 4.5vw;
}

.card p {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2em;
  margin-top: 0%;
  text-align: center;
}


.a {
  color: darkgreen;
}

.b {
  color: cornflowerblue;
}

.c {
  color: orange;
}

.d {
  color: #9900ff;
}

.f {
  color: red;
}

.alert {
  padding: 20px;
  background-color: #2196f3;
  color: white;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

strong {
  padding-left: 0%;
  font-family: 'Montserrat', 'Abril Fatface', serif, sans-serif;
}

body {
  background-color: #111;
  scrollbar-width: none;
}
body::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
}




.quotation {
  width: 35%;
  display: block;
  margin: auto;
  padding-top: 2%;
  padding-bottom: 1%;
}

.card {
  background-color: #1e1f22;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 35%;
  padding: 2vw;
  padding-bottom: 0vw;
  margin: auto;
  margin-bottom: 2vh;
}

#curr {
  margin-top: 2vh;
}

#specard {
  background-color: transparent;
  font-size: 0.8em !important;
}

#ccl {
  height: 3vh;
}

#homebody .card {
  margin-bottom: 0vh !important;
}

#logo {
 width: 30vw;
}


.swing {
  color: #9900ff !important;
  font-weight: 800;
  text-transform:uppercase;
  font-family: 'Abril Fatface', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif !important;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  transition: 0.5s;
  font-family: 'Montserrat', sans-serif;
  padding-top: 1%;
}
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

a:hover {
  cursor: pointer;
}

body:hover {
  cursor: default;
}

.light {
  color: #f1f1f1 !important;
  font-weight: bolder;
}

.sidebar img {
  width: 7%;
  z-index: 10;
  padding-right: 90%;
  display: block;
}

#homeimg {
  width: 20vw;
}

#eti h1 {
  font-size: 10vw;
  font-family: 'Alfa Slab One', sans-serif;
  font-weight: lighter;
  margin: 0;
}

.state {
  font-weight: lighter;
  display: inline;
  color: #ffffff;
  font-family: 'Abril Fatface', sans-serif;
  width: 100%;
  text-align: center;
  font-size: 5vw;
  margin: 0;
  text-transform: uppercase;
  line-height: 90%;
}

#buttons {
  width: 30%;
  display: block;
  margin-left: auto !important;
  margin-right: auto !important;
  padding: 1vh;
  border: 3px solid #111;
  border-radius: 30px;
}

@media (max-width: 850px) {
  .sidebar {
    width: 100%;
    height: 6%;
    line-height: 140%;
    position: fixed;
    background-color:#111;
    z-index: 2;
    top: 0;
    left: 0;
    transition: 0.5s;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
  }
  .sidebar a {
    padding: 0.8vw 0.8vw 0.8vw 3.2vw;
    text-decoration: none;
    font-size: 3vw;
    color: #818181;
    display: inline-block;
    transition: 0.3s;
  }
  .sidebar a:hover {
    color: #f1f1f1;
  }
  .firstcard {
    margin-top: 10vh !important;
  }
  .card {
    width: 60%;
  }
  #logo {
    width: 60vw;
  }
  #homeimg {
    width: 50%;
  }
  #data h2 {
    font-size: 6vw !important;
  }
  h2 {
    font-size: 7vw !important;
  }
  .card h1 {
    font-size: 12vw !important;
  }
  .card p {
    letter-spacing: -0.5px;
  }
  li {
    letter-spacing: -0.5px;
  }
  #buttons {
    width: 70%;
  }
  .quotation {
    width: 60%;
  }
  h3 {
    font-size: 4vw !important;
  }
  #map {
    width: 80%;
  }
  .state {
    font-size: 8vw !important;
  }
  #MA h3 {
    font-size: 6vw !important;
  }
}




@media (pointer: coarse) {
  .sidebar {
    width: 100%;
    height: 4%;
    line-height: 220%;
    position: fixed;
    background-color: #111;
    z-index: 2;
    top: 0;
    left: 0;
    transition: 0.5s;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
  }
  .sidebar a {
    padding: 0.8vw 0.8vw 0.8vw 3.2vw;
    text-decoration: none;
    font-size: 3.9vw;
    letter-spacing: -0.8px;
    color: #818181;
    display: inline-block;
    transition: 0.3s;
  }
  .sidebar a:hover {
    color: #f1f1f1;
  }
  .firstcard {
    margin-top: 10% !important;
  }
  .light {
    font-weight: normal;
    display: none !important;
  }
  .card{
    width: 80%;
    padding: 3vw;
    border-radius: 30px;
  }
  #logo {
    width: 75vw;
  }
  #myBtn {
    right: 5px;
    bottom: 5px;
  }
  #myBtn img {
    height: 5vh;
  }
  #homeimg {
    width: 70%;
  }
  .quotation {
    width: 90%;
  }
  #data h2 {
    font-size: 8vw !important;
  }
  .state {
    font-size: 11vw !important;
  }
  #MA h3 {
    font-size: 8.25vw !important;
  }
  h2 {
    font-size: 11vw !important;
    margin-bottom: 0%;
  }
  header h2 {
    font-size: 8vw !important;
  }
  header h1 {
    font-size: 10vw !important;
  }
  .card h1 {
    font-size: 17vw;
  }
  .card p{
    margin-top: 0%;
    font-size: 300%;
    letter-spacing: -0.5px;
  }
  #proceed a {
    font-size: 300%;
  }
  li {
    font-size:300%;
    letter-spacing: -0.5px;
  }
  #homeli {
    font-size: 100%;
  }
  body {
    margin-top: 3vh;
  }
  #buttons {
    width: 90%;
  }
  strong {
    font-size: 6vw !important;
    font-weight: normal;
    font-family: 'Abril Fatface' !important;
  }
  #formofstate {
    display: none;
  }
  flex {
    text-decoration: underline;
  }
  h3 {
    font-size: 6.5vw !important;
    font-weight: normal;
    font-family: 'Abril Fatface' !important;
  }
  .arrow {
    border-width: 0 8px 8px 0;
  }
  #map {
    width: 90%;
  }
}
