@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

h1 {
  font-size: 10vw;
  font-family: 'Abril Fatface', sans-serif;
  font-weight: lighter;
  margin: 0%;
}

a {
  text-decoration: none;
  color: orange;
}

ul {
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  margin-top: 0%;
  padding-left: 0em;
}

li {
  margin-left: 40px;
}

#US h1 {
  flex-wrap: wrap;
}

#data {
  margin-top: 10vh;
}

#data h2 {
  font-weight: lighter;
  display: inline;
  color: #ffffff;
  font-family: 'Abril Fatface', sans-serif;
  width: 100%;
  text-align: center;
  font-size: 3vw !important;
  margin: 0%;
  text-transform: uppercase;
  line-height: 90%;
  margin-bottom: 10px;
}

h2 {
  font-weight: lighter;
  display: inline;
  color: #ffffff;
  font-family: 'Abril Fatface', sans-serif;
  width: 100%;
  text-align: center;
  font-size: 5vw;
  margin: 0%;
  text-transform: uppercase;
  line-height: 90%;
}

button {
  height: 10vh;
  width: 33vh;
  background-color: #00A9D8;
  font-family: 'Abril Fatface', serif;
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 5vh;
  appearance: button;
  color: white;
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: pointer;
  box-sizing: border-box;
  padding: 3px 3px;
  border-width: 2px;
  border-style: outset;
  border-image: initial;
  border-radius: 10px;
  border: 0px solid transparent;
  transition: 0.4s;
  display: block;
  margin-top: 2vh;
  margin-left: auto;
  margin-right: auto;
}

button:hover {
  background-color: #0c8ec9;
  height: 11vh;
  font-size: 6vh;
  width: 35vh;
}

#home {
  margin-top: 1vh !important;
  margin-bottom: 4vh !important;
}

.handbook {
  padding: 1vh;
}

#CT h3 {
  font-size: 4vw;
}

#MA h3 {
  font-size: 3.5vw;
}

#WA h3 {
  font-size: 4vw;
}

#PA {
  font-size: 4.5vw;
}

.card p {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2em;
  margin-top: 0%;
  text-align: center;
}


.a {
  color: darkgreen;
}

.b {
  color: cornflowerblue;
}

.c {
  color: orange;
}

.d {
  color: #9900ff;
}

.f {
  color: red;
}

.alert {
  padding: 20px;
  background-color: #2196f3;
  color: white;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

strong {
  padding-left: 0%;
  font-family: 'Montserrat', 'Abril Fatface', serif, sans-serif;
}

body {
  background-color: #111;
}

body::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
}
body {
  scrollbar-width: none;
}


.quotation {
  width: 35%;
  padding: 2%;
  display: block;
  margin: auto;
}

.card {
  background-color: #1e1f22;
  border: 3px solid #111;
  border-radius: 10px;
  display: flex; 
  flex-wrap: wrap;
  justify-content: center;
  width: 35%;
  padding: 2vw;
  padding-bottom: 0vw;
  margin: auto;
}

.swing {
  color: #9900ff !important;
  font-weight: 800;
  text-transform:uppercase;
  font-family: 'Abril Fatface', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif !important;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  transition: 0.5s;
  font-family: 'Montserrat', sans-serif;
  padding-top: 1%;
}
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar img {
  width: 7%;
  z-index: 10;
  padding-right: 90%;
  display: block;
}


#buttons {
  width: 30%;
  display: block;
  margin-left: auto !important;
  margin-right: auto !important;
  padding: 1vh;
  border: 3px solid #111;
  border-radius: 30px;
}

@media (max-width: 850px) {
  .sidebar {
    width: 100%;
    height: 6%;
    position: relative;
    z-index: 1;
    top: 0;
    left: 0;
    transition: 0.5s;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: 0;
  }

  .sidebar a {
    padding: 0.8vw 0.8vw 0.8vw 3.2vw;
    text-decoration: none;
    font-size: 4vw;
    color: #818181;
    display: inline-block;
    transition: 0.3s;
  }
  .sidebar a:hover {
    color: #f1f1f1;
  }
  .card {
    width: 60%;
  }
  #data h2 {
    font-size: 5vw !important;
  }
  h2 {
    font-size: 7vw !important;
  }
  .card h1 {
    font-size: 12vw;
  }
  .card p {
    letter-spacing: -0.5px;
  }
  li {
    letter-spacing: -0.5px;
  }
  #data {
    margin-top: 13vh;
  }
  #buttons {
    width: 70%;
  }
  .quotation {
    width: 60%;
  }
  strong, h3 {
    font-size: 4vw !important;
  }
}

@media (max-width: 500px) {
  #data {
    margin-top: 15vh
  }
}

@media (pointer: coarse) {
  .sidebar {
    width: 100%;
    height: 6%;
    position: relative;
    z-index: 1;
    top: 0;
    left: 0;
    transition: 0.5s;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
  }
  .sidebar a {
    padding: 0.8vw 0.8vw 0.8vw 3.2vw;
    text-decoration: none;
    font-size: 5vw;
    color: #818181;
    display: inline-block;
    transition: 0.3s;
  }
  .sidebar a:hover {
    color: #f1f1f1;
  }
  .card{
    width: 80%;
    padding: 3vw;
    border-radius: 30px;
  }
  .quotation {
    width: 90%;
  }
  #data h2 {
    font-size: 8vw !important;
  }
  h2 {
    font-size: 11vw !important;
    margin-bottom: 0%;
  }
  .card h1 {
    font-size: 17vw;
  }
  .card p{
    margin-top: 0%;
    font-size: 300%;
    letter-spacing: -0.5px;
  }
  li {
    font-size:300%;
    letter-spacing: -0.5px;
  }
  body {
    margin-top: 3vh;
  }
  #buttons {
    width: 90%;
  }
  strong {
    font-size: 6vw !important;
    font-weight: normal;
    font-family: 'Abril Fatface' !important;
  }
  h3 {
    font-size: 6.5vw !important;
    font-weight: normal;
    font-family: 'Abril Fatface' !important;
  }
}
